<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button *ngIf="serverElements.length > 0" class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button *ngIf="serverElements.length > 0" class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <br>
      <br>
      <app-server-element *ngFor="let serverElement of serverElements" [name]="serverElement.name">
        <p #contentParagraph>
          <strong style="color: blue">{{ serverElement.content }}</strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
